{% extends 'base.html' %}

{% block content %}

<h3>❌ Rejected Bookings</h3>

{% for service, bookings in grouped_bookings.items %}

    <div class="card mb-4 shadow">
        <div class="card-header bg-danger text-white d-flex justify-content-between">
            <span>{{ service.title }}</span>
            <span class="badge bg-light text-dark">
                {{ bookings|length }} Rejected
            </span>
        </div>

        <div class="card-body">

            {% for booking in bookings %}
                <div class="border p-3 mb-2">

                    <p><strong>User:</strong> {{ booking.user.username }}</p>
                    <p><strong>Date:</strong> {{ booking.date }} | {{ booking.time }}</p>
                    <p class="text-danger"><strong>Status:</strong> Rejected</p>

                </div>
            {% endfor %}

        </div>
    </div>

{% empty %}
    <p>No rejected bookings</p>
{% endfor %}

{% endblock %}